@font-face {
    font-family: Noto;
    src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: Noto-Light;
    src: url(../fonts/Noto_Sans/NotoSans-Light.ttf);
}

@font-face {
    font-family: Noto-Bold;
    src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
}